<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxFlex fxLayoutAlign="flex-end" fxHide.xs>
      <ul fxLayout fxLayoutGap="10px" class="navigation-items">
        <li><a routerLink="/bedroom">Bedroom</a></li>
        <li><a routerLink="/kitchen">Kitchen</a></li>
        <li><a routerLink="/livingroom">Living room</a></li>
        <li><a routerLink="/admin">Admin</a></li>
        <li><a routerLink="" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </mat-toolbar>